# Eclipse files
.project
.settings

# Node files
node_modules

# Source (original translations)
source

# Shadow folder (plugin data files)
shadow

# Working directory
.tmp

# Ignored target
target/*.esp
