# Eclipse dosyaları
.project
.settings

# Node Dosyaları
node_modules

# Kaynak (orjinal çeviriler)
source

# Gölge Klasörü (eklenti dosyaları)
shadow

# Çalışma Dizini
.tmp

# Yoksayılmış hedef
target/*.esp
